h2{
    font-size: 2rem;
    text-align: center;
    color: black;
    margin-top: 0.5rem;
}

.form-control{
    display: flex;
    justify-content: center;
}

.text-input{
    flex-grow: 1;
    padding: 5px 5px;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    font-size: 18px;
}

.text-input:focus{
    outline: none;
}

.submit-btn {
    border: none;
    background: green;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
}